* {
    margin: 0;
    padding: 0;
  }


.container {
    width: 100%;
}

.main {
    display: flex;
    gap: 30px;
    max-width: 1280px;
    margin: auto;
   
}

.categori-title {
    width: 15%;
    list-style: none;
    gap: 40px;
}

.categori-title li {
    padding: 15px;
}

.categori-title li:hover{
    transition: .5s;
    background: #dbeafe;
    cursor: pointer;
}



.slick-slide {
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.products p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.price {
    font-size: x-large;
    font-weight: 600;
    padding: 10px;
    background: #e5e7eb;
    border-radius: 8px;
}

.products img {
    border-radius: 10px;
    width: 100%;
}

