* {
    margin: 0;
    padding: 0;
  }


.container {
    max-width: 1280px;
    margin: auto;
}

.main {
    display: flex;
    gap: 30px;
    
    align-items: center;
   
}

.categori-title {
    width: 15%;
    list-style: none;
    gap: 40px;
}

.categori-title li {
    padding: 15px;
}

.categori-title li:hover{
    transition: .5s;
    background: #dbeafe;
    cursor: pointer;
}


.slick-slide {
    height: inherit !important;
    cursor: pointer;
    margin:15px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.slick-slide:hover .add-button{
    visibility: visible;
}

.products p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.price {
    font-size: x-large;
    font-weight: 600;
    padding: 10px;
    background: #e5e7eb;
    border-radius: 8px;
}

.slick-slide img {
    border-radius: 8px;
    width: 100%;
}

.add-button {
    font-size: larger;
    width: 100%;
    padding: 10px;
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    background: #60a5fa;
    border-style: none;
    color: white;
    border-radius: 8px;
    visibility: hidden;
}

/*................ popup ..................*/
.popup-container {
    display: flex;
    justify-content: center;
}

#popup {
    gap: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 30px;
    background: #1e293b;
    border-radius: 10px;
    right: 60px;
}

#popup-icon {
    color: white;
    padding: 10px;
    background: lawngreen;
    font-size: 20px;
    border-radius: 50%;
    font-size: x-large;
}

.popup-text1 {
    font-weight: bold;
    color: white;
    font-size: x-large;
}

.popup-text2 {
    color: #bfdbfe;
    font-size: x-large;
    font-weight: bold;
}